{% extends 'messenger/template.html' %}
{% block bodyBlock %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-3 sidebar bg-purple mt-3">
            <div class="row nav-link feather">
                <div class="col-md-12">
                    <div class="form-group bg-purple m-auto">
                        <input type="text" class="form-control" id="friend" placeholder="Pesquisar" onkeyup="searchFriend(event)">
                    </div>
                </div>
            </div>
            <div id="new-friend"></div>
            <div class="row border-bottom">
                <div class="col nav-link father">
                    <div class="col-md-12">
                        Solicitações de amizade
                    </div>
                </div>
            </div>
            <div class="row father">
                <div class="col">
                {% for friend in solicitation %}
                    <div class="row nav-link feather">
                        <div class="col text-center border-bottom">
                        {% if friend == "Nenhuma solicitação Pendente" %}
                            <h6>{{ friend }}</h6>
                        {% else %}
                            <h5 data-value="{{friend.friend.id}}">{{ friend.friend.username }}</h5>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col nav-link father">
                    <div class="col-md-12">
                        Amigos
                    </div>
                </div>
            </div>
            <div class="row father">
                <div class="col">
                {% for friend in friends %}
                    <div class="row nav-link feather">
                        <div class="col text-center border-bottom">
                            <h5 data-value="{{friend.id}}">{{ friend.name }}</h5>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% block chatContainer %}
            {% endblock chatContainer %}
        </div>
    </div>
</div>
{% endblock bodyBlock %}